{% extends 'layoutA.html' %}

{% block body %}
        <!-- FOR AMAZON -->
        <form id="searchSicar" class="formnav d-none">
                <div class="form-row fourth-row" style="margin-bottom:0.5em;">
                    <div class="custom-select">
                         <button class="button" type="submit">EXPERIENCIA</button>
                    </div>
                </div>
                <div class="form-row fourth-row">
                    <div class="custom-select">
                        <button class="button" type="submit">ESTUDIOS Y CURSOS</button>
                    </div>
                </div>
                <div class="form-row fourth-row">
                    <div class="custom-select">
                        <button class="button" type="submit">TECNOLOGIAS</button>
                    </div>
                </div>
                <div class="form-row button-row" style="margin-bottom:0.5em; width:20%;">
                    <button class="button" type="submit">BUSCAR </button>
                </div>
                
        </form>
    </div>
    


    
{% endblock %}
